$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-2xl: $base-font-size * 2.5;
$font-size-3xl: $base-font-size * 3;
$font-size-4xl: $base-font-size * 3.5;
$font-size-5xl: $base-font-size * 4;
$font-size-6xl: $base-font-size * 4.5;
$font-size-7xl: $base-font-size * 5;
